[2015-01-10 00:04] poldrack opened #2 "calc_dvars crashes on many datasets"
hi - I am having a problem where calc_dvars crashes on more than 1/2 of my datasets (from the myconnectome project):

unning calc_dvars
Traceback (most recent call last):
  File "run_qap_func.py", line 53, in <module>
    func_dvars  = calc_dvars(func_data, output_all=False)
  File "/scratch/projects/UT/poldracklab/poldrack/selftracking/MRI/qatest/quality-assessment-protocol/qa
p/dvars.py", line 6

[2015-01-10 00:29] ccraddock commented on #2
Hey Russ,

I just merged some of Chris's changes to QAP today. Do you have the problem with these as well?

-cc

[2015-01-10 00:33] ccraddock commented on #2
Never mind, I suspect that it will still happen, considering calc_dvars wasn't touched by Chris's pull request. We will look this over and get back to you soon.

[2015-01-10 00:36] poldrack commented on #2
Thanks! Yes, I was using Chris's latest

Sent from my iPhone

[2015-01-10 18:51] ccraddock opened #3 "qc.py should load seperate foreground and background masks"
Currently qc.py loads a foreground mask, which is used to calculate the background mask. Instead it should load in separate fg and bg masks that are specified by the user. This will allow the user to implement other restrictions on the masks (i.e. cut out a region of the image so that it is not used as either fg or bg).

[2015-04-27 21:40] sgiavasis commented on #2
Hi Dr. Poldrack,

After looking over the QAP code with Cameron, we suspect the functional mask was including voxels with timeseries that had zero variance, which would then trip up the matrix inversion down the line. I've added a check which might solve your problem.

Try pulling the repo one more time and re-installing, and give it a shot.

If it still crashes, let us know and we'll continue to w

[2015-09-18 18:07] chrisgorgo opened #10 "Motion correction is performed twice"
I was reading the code and it turns out that motion correction is performed twice (both of the times with "--twopass" argument so four times in total): https://github.com/preprocessed-connectomes-project/quality-assessment-protocol/blob/master/qap/functional_preproc.py#L160

It's not clear from the code or documentation why is this implemented this way.

[2015-09-18 18:37] jpellman commented on #10
Hi Chris,

The code for the functional preprocessing is based off of C-PAC's.  Cameron's answer to the following question in the C-PAC issue tracker might help clarify the implementation:

https://github.com/FCP-INDI/C-PAC/issues/452

[2015-10-01 12:59] oesteban opened #11 "[BUG] Error in temporal_qc"
Invalid cast:

[code]

[2015-10-01 14:05] chrisgorgo commented on #11
I believe I fixed that. Are you using current master?
On Oct 1, 2015 5:59 AM, "Oscar Esteban" notifications@github.com wrote:

[2015-10-01 15:44] oesteban commented on #11
Ok, there were some updates in master. I'll double check now.

EDIT: I close the issue. If not fixed, I will reopen it.

[2015-10-01 15:46] #11 closed, assigned to nobody

[2015-10-05 17:39] oesteban opened #12 "[BUG] qap_functional_temporal: list index out of range starting processes"
[code]

[2015-10-06 16:16] jpellman opened #14 "__version__ not defined in __init__"

[2015-10-09 14:57] pipitone opened #17 ""Error: Unknown datatype uint8" when running anatomical spatial pipeline"
We've got images in uint8 format and this doesn't seem to play well with QAP when we run the anatomical spatial pipeline (from commit e23764c4926799bc79440075d4f1ed70c587f24f). It looks like `qap.qap_utils.load_image` specifically checks for `float32` compatibility. We can convert ourimages, but perhaps worth explaining in the documentation why this is a requirement or suggesting workarounds?

---

[2015-10-09 18:02] #12 closed, assigned to nobody

[2015-10-20 08:28] oesteban opened #23 "PDF Reports: inform about subjects not reported"
When an individual workflow fails, the subject is not included in the final csv file. It'd be nice to have a list of subjects that failed (and even better if we could inform about the cause).

[2015-10-20 21:05] #17 closed, assigned to nobody

[2015-10-23 16:48] oesteban opened #26 "No module named viz.interfaces"
The module `viz` is not installed through pip (reported here https://github.com/preprocessed-connectomes-project/quality-assessment-protocol/pull/21#issuecomment-150031320). I have reproduced this problem in a fresh virtualenv.

[2015-10-26 10:43] chrisgorgo opened #28 "Remove the replace contents of the gh-pages branch with www"
It turns out that GitHub can automatically render Jekyll source into html (see http://jekyllrb.com/docs/github-pages/) if it's put directly in gh-pages. We should rely on this instead of building jekyll manually and pushing to gh-pages. This will make www branch obsolete.

[2015-10-26 18:50] #23 closed, assigned to nobody

[2015-10-26 18:50] #26 closed, assigned to nobody

[2015-11-09 23:56] jpellman opened #30 "Scripts need shebangs"
Some of the scripts don't have shebangs, causing bash to not know to use the python interpreter to execute them.

[2015-11-10 15:46] #30 closed, assigned to nobody

[2015-11-10 15:46] #14 closed, assigned to nobody

[2015-11-10 16:07] jpellman opened #31 "Update the documentation to reflect that Python dependencies are installed when using 'pip install qap'"

[2015-11-10 19:02] #31 closed, assigned to jpellman

[2015-11-10 22:38] #28 closed, assigned to nobody

[2015-11-11 20:22] chrisgorgo opened #32 "Check for consistency of scanning parameters across subjects"
One of the common problems in acquiring neuroimaging data is accidental changes in scanning parameters (due to manual steps, sequence updates, or scan interruptions). It would be great if QAP could check if all subjects have the same RepetitionTime, EchoTime, SliceTiming, resolution, and scan size (acquisition matrix as well as scan length) and report any abnormalities. Those checks would have to

[2015-11-11 20:26] chrisgorgo opened #33 "Look for spikes in in the space outside of the head"
Some researchers report checking for spikes outside of the head (in the air surrounding it) a useful measure of data quality complimentary to normal spike detection. See for example: http://www.cbi.nyu.edu/Downloads/dataQuality.pdf

This could be easily implemented by changing the mask input to 3dToutcount.

[2015-11-11 21:26] ccraddock commented on #32
agreed

On Wed, Nov 11, 2015 at 3:22 PM, Chris Filo Gorgolewski <
notifications@github.com> wrote:

##

Director of Imaging, Center for the Developing Brain, Child Mind Institute
http://childmind.org
Director, Computational NeuroImaging Lab
http://computational-neuroimaging-lab.org/, Nathan S. Kline Institute for
Psychiatric Research http://www.rfmh.org/nki/
Co-Founder, The Neuro Bureau http://neu

[2015-11-13 14:18] oesteban opened #35 "[BUG] IOError: Duplicate node name datasink_qap_mosaic found."
I will fix this as soon as I confirm my hypothesis: the sink node is added twice if `write_all_outputs` and  `write_report` are `true` simultaneously.

[2015-11-24 19:15] chrisgorgo opened #36 "Pypi package does not include shebangs"
For some reason the tgz package deposited on Pypi (the same one that is being used each time someone does pip install qap or easy_install qap) does not include shebangs (#!/usr/bin/env python) on top of script rendering them unusable:

[code]

the missing shebang:

[code]

[2015-11-25 18:40] chrisgorgo commented on #35
@craigmoodie also run into this:

[code]

[2015-11-25 19:03] craigmoodie opened #37 "[BUG] Runtime Error"
151125-10:48:18,896 workflow INFO:
     Executing node func_reorient in dir: /scratch/PI/russpold/work/CNI/qap_working_dir/sub-002/session_1/func_4/func_reorient
151125-10:48:18,906 workflow INFO:
     Running: 3dresample -orient RPI -prefix sub-002_task-protocol_dev_run-4_bold_calc_resample.nii.gz -inset /scratch/PI/russpold/work/CNI/qap_working_dir/sub-002/session_1/func_4/func_reorient/sub-002_

[2015-11-25 19:05] craigmoodie commented on #37
This error occurred using a pip installed version of the master

[2015-11-25 19:07] chrisgorgo commented on #37
Maybe it's something with the data or AFNI installation? Did you try going to `/scratch/PI/russpold/work/CNI/qap_working_dir/sub-002/session_1/func_4/func_reorient` and running:

[code]

[2015-11-30 18:00] jpellman commented on #36
Hi Chris,

This was an issue with the code in the GitHub repository as well.  We fixed it and hope to put a patched version on Pypi soon.

[2015-11-30 22:50] jpellman commented on #36
Hello again Chris,

The patched version of QAP is now on Pypi.

Santé!

[2015-11-30 22:50] #36 closed, assigned to nobody

[2015-12-01 23:40] #37 closed, assigned to nobody

[2015-12-01 23:41] chrisgorgo commented on #37
FYI that was a memory related issue.

On Tue, Dec 1, 2015 at 3:40 PM, craigmoodie notifications@github.com
wrote:

[2015-12-01 23:48] craigmoodie opened #38 "cover_group.html not included in pip install of QAP"
Traceback (most recent call last):
  File "/share/PI/russpold/software/anaconda/bin/qap_anatomical_spatial.py", line 16, in <module>
    obj.run()
  File "/share/PI/russpold/software/anaconda/lib/python2.7/site-packages/qap/cli.py", line 256, in run
    out_dir=config['output_directory'])
  File "/share/PI/russpold/software/anaconda/lib/python2.7/site-packages/qap/viz/reports.py", line 60, in work

[2015-12-01 23:49] craigmoodie commented on #37
Yes, users should be mindful of the size of the files being processed relative to the number of cores requested per subject in the current version of the config.

[2015-12-02 17:09] jpellman opened #40 "[BUG] No attribute for msg error in CLI in 1.0.5"
I'm receiving this error when trying to run QAP on a large number of participants.  It fails for both anatomical and functional scans:

  File "/usr/local/bin/qap_functional_temporal.py", line 16, in <module>
    obj.run()
  File "/usr/local/lib/python2.7/dist-packages/qap/cli.py", line 244, in run
    results = self._run_here(run_name)
  File "/usr/local/lib/python2.7/dist-packages/qap/cli.py", l

[2015-12-02 22:04] jpellman commented on #40
This is from 1.0.5.

[2015-12-03 22:44] jpellman commented on #40
Fixed by removing '.msg' from e.

[2015-12-03 22:44] #40 closed, assigned to nobody

[2015-12-03 22:49] jpellman opened #41 "[BUG] runner object for pipeline engine is being viewed as a tuple"
A number of runs are failing on one of our servers.  This can't be reproduced on a local machine.  The error appears as follows:

Traceback (most recent call last):
  File "/home/jpellman/miniconda/envs/qap_105_test/bin/qap_functional_spatial.py", line 16, in <module>
    obj.run()
  File "/home/jpellman/miniconda/envs/qap_105_test/lib/python2.7/site-packages/qap/cli.py", line 244, in run
    resu

[2015-12-03 22:50] jpellman commented on #41
The error closely follows the generation of the png file from the dot file describing the workflow.

[2015-12-05 01:00] jpellman opened #42 "Unit tests should have cover running multiple subjects at once"
Currently only cover a single subject being run at a time.

[2015-12-10 17:23] oesteban commented on #41
Hi @jpellman, I'll take on this ASAP. Yes, you're right, looks like a problem with nipype since it's trying to call the `run()` member of the workflow.

[2015-12-18 18:33] oesteban commented on #41
Hi @jpellman, may you check if #44 fixes this bug?

[2015-12-30 14:43] #38 closed, assigned to nobody

[2016-01-06 21:45] sgiavasis commented on #10
We're changing this so that it only happens once. Changes are currently in branch 1.0.6_dev. (Really wish Github would let you tag branches in comments..)

[2016-01-27 19:28] carolFrohlich opened #46 "Better errors when indi_awsutils not found"
Tell the user to run pip install when awsutils is not found instead of throwing the error.

[2016-01-27 22:59] carolFrohlich opened #47 "exception when using scan_id for workflow name for BIDS"
https://github.com/preprocessed-connectomes-project/quality-assessment-protocol/blob/master/qap/cli.py#L336

Using  scan_id for the workflow name doesn't work for BIDS, since scan_id will contain underscores and hyphens. The workflow name verifier will throw an exception for these .

[2016-01-27 23:00] sgiavasis commented on #47
I'm having it replace illegal characters with underscores for now, but we should discuss solutions further.

Note: the change is in 1.0.6_dev

[2016-02-10 20:03] gdevenyi opened #48 "efc_max calculation has typo?"
I was examining https://github.com/preprocessed-connectomes-project/quality-assessment-protocol/blob/master/qap/spatial_qc.py#L158-L186 to implement such a measure in the minc toolchain, and I couldn't quite understand where it came from, so I went back to Atkinson 1997 and tried to derive efc_max.

It looks like there was a copy-paste error, which the `1.0 / np.sqrt(np.prod(anat_data.shape))` end

[2016-02-10 21:04] ccraddock commented on #48
Hello Gabriel,

I am not sure that I agree, are you saying this because there is no -1 at
the beginning of the EFCmax calculation?

From the paper, for max entropy the energy would be spread evenly amongst
all of the voxels so Bj = 1. In this case Bmax=sqrt(X_Y_Z) in which X, Y,
and Z are the size of the images dimensions. Bj/Bmax = 1/sqrt(X_Y_Z).

Then, EFCmax = -1 \* Sum_1^XYZ [ 1/sqrt(XYZ)_log(

[2016-02-11 13:41] gdevenyi commented on #48
I will do a clean derivation on paper to scan and post so we're not limited
by python syntax.
On Feb 10, 2016 16:04, "Cameron Craddock" notifications@github.com wrote:

[2016-02-12 18:27] gdevenyi commented on #48
Here's my attempt at a derivation, the difference I see is that my log is log(sqrt(S)) instead of log(1/sqrt(S))

![derivation](https://cloud.githubusercontent.com/assets/3001850/13016310/d05789c8-d18b-11e5-8757-3bb0d30c34d2.jpg)

[2016-02-12 18:33] ccraddock commented on #48
Is this just a different form of the same equation? If you calculated it
both ways would you get a difference?

On Friday, February 12, 2016, Gabriel A. Devenyi notifications@github.com
wrote:

##

Director of Imaging, Center for the Developing Brain, Child Mind Institute
http://childmind.org
Director, Computational NeuroImaging Lab
http://computational-neuroimaging-lab.org/, Nathan S. Kline Insti

[2016-02-15 20:05] gdevenyi commented on #48
Yup, it gives the same result. Sorry for the noise.

[2016-02-15 20:05] #48 closed, assigned to nobody

[2016-04-18 09:21] mmayolini opened #49 "[BUG] CSV file for anatomical measures not created"
When I run qap_anatomical_spatial.py, I get this as crash file :

File: crash-20160418-111315-neuro-qap_anatomical_spatial_to_csv.pklz
Node: anat_1.qap_anatomical_spatial_to_csv
Working directory: /home/neuro/Scripts_mmayolini/output/working/001/session_1/anat_1/qap_anatomical_spatial_to_csv

Node inputs:

_outputs = {'fg_std': 80.12024679070052, 'scan': 'anat_1', 'bg_mean': 1.5794646729758111, 'f

[2016-04-18 13:07] jpellman commented on #49
Hi Maxime,

When you specify the output directory in your pipeline configuration file, are you using an absolute path or a relative path?  If you are using a relative path could you try using an absolute path instead?

If this does not work, could you send your pipeline configuration and crash files to john.pellman@childmind.org?

Best,
John Pellman

[2016-04-18 14:03] mmayolini commented on #49
Hi John,

Output and working directories in the configuration file were specified with a relative path ; however, I have a problem using the absolute path. I give you all the details to the mail address you mentioned.

Cordially,
Maxime

EDIT : I was using "~" in the absolute path, that was the thing that didn't work (it created a folder "~" on my home) ; I replaced it with the folders it represen

[2016-04-18 14:29] #49 closed, assigned to nobody

[2016-04-27 22:25] dbkeator opened #50 "Error after writing PDF reports.."
Hi,
I tried a simple single-subject anatomical report using the abide spatial config with appropriate edits given my environment.  I had a similar problem on another machine.  Any thoughts on what the issue might be?

[dbkeator@nicfs site_anat]$ qap_anatomical_spatial.py --sublist ./test.yaml /data/soft/quality-assessment-protocol-master/configs/qap_config_abide_spatial_dbk.yml --with-reports
/usr

[2016-04-27 23:03] jpellman commented on #50
Hi @dbkeator ,

We've encountered this issue before with someone running QAP using a configuration file that specified more cores than are available on a machine.  Could you double-check that this isn't the case for this run?

You may also want to join our [forum](https://groups.google.com/d/forum/pcp_forum) and follow the thread [here](https://groups.google.com/forum/#!searchin/pcp_forum/dot/pcp_

[2016-04-27 23:17] dbkeator commented on #50
I was worried about that so I dropped the requested cores/subject to 1 just to be safe.  Interestingly, I just checked the config file and although it was set to 1 it had an errant character and was set to " 1` ".  I just fixed that and it seems to be running now.  Thanks for the help!  I'll join the forum as well, thanks for the link..

[2016-04-29 13:52] jpellman opened #51 "Error with write_reports functionality"
One of our users from the forum received the following error when running the anatomical measures on 2 scans with the violin plots toggled to True.  The commit message for the code implicated is "add stripplot for N < 4", which leads me to believe that number of scans may be implicated.

Traceback (most recent call last):
  File "/Users/varadajc/Envs/qcp3/bin/qap_anatomical_spatial.py", line 4, in

[2016-04-29 13:54] jpellman opened #52 "With write_reports, plot new data against CoRR and ABIDE results"
One of our users is interested in extending the functionality for the write_graphs option to also plot the measure distributions from the CoRR and ABIDE datasets alongside the results from a QAP run.

[2016-04-29 17:48] jpellman opened #53 "Warn users if running config with qap_anatomical_spatial with necessary parameters undefined"
Present behavior if _template_brain_for_anat_ and _template_skull_for_anat_ are undefined is to run through pipeline without producing outputs without warning user that these parameters are not defined.

[2016-04-29 20:44] jpellman commented on #50
This might be a larger issue with how the command line utilities in QAP 1.0.5 handle multicore runs.  I attempted to replicate this on our own cluster and found that only when I set _num_cores_per_subject_ to 1 were the command line utilities able to execute the pipeline.

[2016-05-17 14:55] jpellman opened #54 "QAP 1.0.5 only works with one core"
The QAP 1.0.5 will only work if num_cores is set to 1- other integers will cause it to crash.

[2016-08-02 19:26] hebbianloop commented on #54
also having a similar problem:

[2016-08-02 19:41] hebbianloop opened #55 "[BUG] CSV file for anatomical measures not created - part 2"
Hi,

I followed the advice for setting absolute paths in the previous bug resolution but this did not fix the bug:

the configuration file is as below

[2016-08-02 20:11] jpellman commented on #55
Hi @seldamat ,

Are there any files being generated in the output directory that end in '.pklz'?  These are nipype crash files that might be able to aid us in narrowing down what might have caused the crash.

[2016-08-02 20:21] hebbianloop commented on #55
Hi John,

Thank you for your quick attention.  There are no files in the output directory that end in .pklz.

[2016-08-02 20:26] jpellman commented on #55
Hi @seldamat ,

Just to verify, does the pipeline execution work after switching 'num_cores_per_subject' to just one core?  Or does that cause the 'qap_mosaic' error you posted earlier?

[2016-08-02 20:33] hebbianloop commented on #55
Hi @jpellman

I ran the pipeline again with 1 core per subject and 24 subjects at once and it appears to have advanced to the skull stripping stage. Hopefully it won't crash out again!

Just so you know, I've also followed the pull request to fix the duplicate problem when running multiple cores.

[2016-08-03 16:21] hebbianloop opened #56 "[BUG] ValueError: x and y must have the same first dimension"
Got the following error after successfully executing the pipeline and attempting to write the reports.  Is it recommended to update sort(columns=)?

The config file is as follows:

[2016-08-03 22:39] jpellman commented on #56
Hi @seldamat ,

sort is a deprecated function in one of QAP's dependencies (pandas).  We will need to update the idiom we use with the code that employs this function in future releases.  You shouldn't need to change the version of pandas you have installed, as the error is being generated by matplotlib (another one of QAP's dependencies).

I would need to investigate this bug more deeply to fully

[2016-08-04 00:07] hebbianloop commented on #56
Thank  you @jpellman -- I'll look for the bug being addressed in future releases :)

So in any case, I should be able to get all of the relevant data by looking at the .csv file that's output to the output directory right?

[2016-08-04 01:13] jpellman commented on #56
@seldamat That is correct- the csv file will contain the QAP measures for all of the subjects in your subject list.

[2016-08-04 19:44] hebbianloop commented on #56
Hi @jpellman,

I tried running the pipeline again hoping that perhaps it would work on a second try - it didn't :\

However, it did output a .pklz file this time.  Perhaps this will be helpful for debugging? I can't seem to attach it here, so here is a google drive link:

https://drive.google.com/file/d/0B62ZUf2RblCDZk4zLXU0WTd6cWs/view?usp=sharing

[2016-08-04 23:23] jpellman commented on #56
Hi @seldamat ,

The traceback in your crash file implicates a function from nipype being unable to append a row to your output file.  If you open the output file located at /Volumes/Archive.ADS/ADS/analysis/qap/qap_anatomical_spatial.csv, are there any odd characters at the top of the file or is the file empty?

[2016-08-04 23:59] hebbianloop commented on #56
The file actually looks fine! no odd characters and the spreadsheet is populated with matching data.

The report summary however did report a subject failing the pipeline that did not fail when I ran it yesterday.

[2016-08-05 13:54] jpellman opened #57 "[BUG] Not all participants in subject list are being run"
@DaveOC90 Noted yesterday that for some runs, a small subset of participants were not being run.  To work around this, he created a new subject list with just the participants who weren't being run and was able to get them to run that way.

[2016-08-05 14:02] jpellman commented on #56
Are there any crash files for nodes other than 'anatomical_spatial_to_csv' for that subject?

[2016-08-05 18:07] hebbianloop commented on #57
ah I noticed this too, thanks for the heads up

[2016-08-05 18:07] hebbianloop commented on #56
There were no other crash files :-\ I've tried upgrading and reinstalling qap + xhtml2pdf to no avail

[2016-08-05 20:56] jpellman commented on #56
In that case my best advice would be to toggle the 'write_report' option off for the moment.  This functionality is one of the newer additions to QAP and it isn't as reliable as the core functionality unfortunately- my apologies.  We'll continue looking into fixing this in future releases.

[2016-08-06 16:54] hebbianloop commented on #56
thanks @jpellman -- you may find it of interest that a pdf file was actually generated, although I do not think it is the complete document
[qap_anatomical_spatial_group.pdf](https://github.com/preprocessed-connectomes-project/quality-assessment-protocol/files/405089/qap_anatomical_spatial_group.pdf)

[2016-08-08 17:57] hebbianloop opened #58 "Run Time Error 7m** FATAL ERROR value too large"
[link to .pklz](https://drive.google.com/file/d/0B62ZUf2RblCDRE5idW13cXpGaWc/view?usp=sharing)
# Standard Error Output:

160807-20:48:40,166 interface INFO:
     stderr 2016-08-07T20:48:39.992265:++ Oblique dataset:/Volumes/Archive.ADS/ADS/analysis/qap/werk/C70550/w1/GoNoGo_2/func_slice_time_correction/EP-ep2d_3.nii.gz is 8.499994 degrees from plumb.
160807-20:48:40,166 interface INFO:
     stderr

[2016-08-08 18:04] hebbianloop opened #59 "QAP Anatomical Crash [TypeError in pool.py]"
160807-20:48:22,747 workflow INFO:
     Configuration settings:
{'write_graph': False, 'write_all_outputs': False, 'num_subjects_at_once': 24, 'output_directory': '/Volumes/Archive.ADS/ADS/analysis/qap', 'write_report': True, 'working_directory': '/Volumes/Archive.ADS/ADS/analysis/qap/werk', 'num_cores_per_subject': 1, 'template_skull_for_anat': '/usr/local/fsl/data/standard/MNI152_T1_2mm.nii.gz',

[2016-08-10 20:34] sgiavasis commented on #54
This has been resolved in the upcoming version. Will close when released.

[2016-08-10 20:51] sgiavasis commented on #58
Hi Seldamat,

Can you re-run this with "write_all_outputs" set to True until it crashes again? I'd like for us to take a look at one of the intermediary files that is one step before 3dTshift.

[2016-08-10 21:15] sgiavasis commented on #59
Hi Seldamat,

Which version of QAP are you running?

[2016-08-11 15:13] sgiavasis commented on #57
I isolated the source of this bug and fixed it in the development branch... the fix will be in the release.

[2016-08-11 15:49] hebbianloop commented on #59
I used pip to install version 1.0.5 -- i've also tried building from this repo but that never seems to work for me.

[2016-08-11 15:51] hebbianloop commented on #58
Sure! I'll rerun it this afternoon and update this post.  Which file would you like to see? There is also a .pklz file that is produced.

[2016-08-11 18:44] ccraddock commented on #32
i am thinking that this would be functionality that would happen after QAP? currently we output many of the scanning parameters in the QAP output, by plotting these values outliers can be quickly identified. Would this be a suitable solution?

[2016-08-11 18:46] ccraddock commented on #33
We are thinking that this would be an additional metric so that in-brain spikes could be differentiated from out-of-brain spikes.

[2016-08-11 19:59] #35 closed, assigned to nobody

[2016-08-11 19:59] #41 closed, assigned to nobody

[2016-08-11 20:00] sgiavasis commented on #42
Unit tests now exist which test the individual functions which facilitate running multiple subjects at once. There is also an easy-to-use runner function in the API that allows for quick testing of single and multiple subject runs without setting up an entire pipeline.

[2016-08-11 20:01] sgiavasis commented on #46
A requirements.txt has been added to the project which should handle this. Will need to test this a little bit more vigorously just prior to release.

[2016-08-11 20:01] sgiavasis commented on #50
This is no longer an issue in 1.0.6_dev_parallel, which will be in the next release.

[2016-08-11 20:06] sgiavasis commented on #59
This issue should be resolved in the 1.0.6_dev_parallel branch (which is slated for an upcoming official release). I would recommend trying that version, though there have been quite a few changes since 1.0.5 - you may need to update your configuration files if you choose to do so.

The most recent format for the configuration files are available here, under the files ending with _TEMPLATE:
https:

[2016-08-11 20:09] sgiavasis commented on #58
I was thinking of trying this command again, from command line:

3dTshift -prefix EP-ep2d_3_tshift.nii.gz /Volumes/Archive.ADS/ADS/analysis/qap/werk/C70550/w1/GoNoGo_2/func_slice_time_correction/EP-ep2d_3.nii.gz

You would need that "func_slice_time_correction" intermediary file in order to do so. Note, if you try to run 1.0.6_dev_parallel like I mentioned in the other issue, this intermediary ste

[2016-08-12 16:02] sgiavasis commented on #51
I have resolved this issue, and the fix will be in the upcoming release.

[2016-08-12 16:08] sgiavasis commented on #56
I was able to reproduce this error and fix it. @seldamat: At some point, I may have you try it again right before the release.

[2016-08-12 18:26] hebbianloop commented on #59
Hi @sgiavasis,

Sure, I'd love to give it a shot to see if I can get this running on some of my data. Is the right way to install the development version?
1. Select the branch in the dropdown menu
2. Downloaded the .zip
3. copied over all the scripts to my macports install of python

`sudo cp Downloads/quality-assessment-protocol-1.0.6_dev_parallel/scripts/* /opt/local/Library/Frameworks/Python.fr

[2016-08-12 18:31] hebbianloop commented on #58
Ok, I am running on 1.0.6_dev_parallel -- I'll let you know if this issue comes up again.  I tried rerunning but the pipeline crashed out at PDF writing (accidentally left it at True)

[2016-08-12 19:16] sgiavasis commented on #59
We appreciate your willingness to help us debug/test. :D

[2016-08-12 20:29] hebbianloop commented on #59
Of course! This is a great suite of tools for neuroimaging research so I'm happy to help out in any way I can :)

One thing I noticed is that your new template configuration files for the functional pipelines do not have the start/stop IDX nor the slice_timing_correction or ghost direction fields.  Should these be included or is it ok to leave them out?

The anatomical pipeline is still running bu

[2016-08-15 19:40] sgiavasis commented on #59
The change in the configuration template will be reflected in the new release's documentation- sorry for the gap in info.

The start/stop IDX now defaults to 0 and End respectively, but you can override these with your own settings by including the options if you'd like (you just don't have to anymore).

Slice timing correction has been removed from QAP.

And ghost direction defaults to Y, as this

[2016-08-15 19:48] sgiavasis commented on #58
Hi seldamat,

If you re-install QAP one more time (from 1.0.6_dev_parallel), and re-run, let me know if you still get the PDF crashes. And if you do, what the error is.

Thank you!

[2016-08-15 20:13] hebbianloop commented on #58
Ok I will try this again -- I think I ran into some other issues but I haven't had a chance to follow up with it.  I will post back here once the run is complete.

[2016-08-16 16:24] ccraddock opened #60 "Citations on main web page"
The citations for Mean FD (now called RMSD) is wrong
The citation for using spatial smoothness (FWHM) should be PMID 16875843

[2016-08-16 19:25] ccraddock commented on #60
GSR should cite: 21081879

[2016-08-16 21:29] sgiavasis commented on #33
Implementing this in the release as OOB (Out-of-Brain) Outliers. Will discuss additional tweaks further during testing.

[2016-08-16 21:37] sgiavasis opened #61 "Clean up sublist generator scripts, create tests"
There is a wide range of sublist and sublist-related generator scripts in the QAP project:
- AWS S3 sublist generator (handles BIDS and non-BIDS)
- CPAC outputs sublist generator (pull in already-calculated intermediaries)
- flexible sublist generator
- BIDS data sublist generator
- raw data sublist generator (non-BIDS)

Some of these can definitely be condensed. Also, unit tests are still require

[2016-08-18 15:19] sgiavasis commented on #53
Was this on 1.0.5 by any chance?

[2016-08-18 15:26] sgiavasis commented on #53
Nonetheless, better config checking (and warning messages) are needed. Putting these in..

[2016-08-18 16:15] sgiavasis commented on #59
Hi Seldamat,

For the run that produced those segmentation crash files-  was this a run you had started earlier, stopped, then started again? It looks like something funny might have happened in the working directory and it just can't find where to pick up from with segmentation.

I would try, at least for one of the crashed subjects, clearing out the working directory for that one subject and re-

[2016-08-18 18:00] hebbianloop commented on #59
Hi sgiavasis,

Yes, it was a run that I interrupted because I wanted to modify the config
file.

Since then I've reinstalled the 1.0.6_dev_parallel branch by cloning it,
building and installing and copying the scripts to my python bin path.

I deleted the directory and reran everything from scratch and I am not
getting the same error anymore.

However, I am getting a new error

Configuration setti

[2016-08-22 15:22] sgiavasis commented on #59
How does your participant list look? First thing, I would double-check the filepaths of the "anatomical_scan" entries to see if any of them look off.

[2016-08-23 19:27] hebbianloop commented on #59
The paths all exist, I'm 100% sure of that -- I've rerun this a bunch of times now and I keep getting the same error message. Any suggestions?

[2016-08-23 19:30] hebbianloop commented on #58
Hi sgiavasis -- I've reinstalled and tried to test the PDF crashes however I keep getting a type error that disallows me to do any testing of this bug report

[2016-08-24 14:56] sgiavasis commented on #58
Can you send me what the crash says?

[2016-08-24 15:16] sgiavasis commented on #59
Further up in the stream you printed above, do you have a "Contents of resource pool:" message? If you don't have the text anymore, you can also check the pypeline.log file.

[2016-09-07 19:05] sgiavasis opened #62 "Remove zeroes from input files"
A large number of zeroes introduced through de-facing and de-earing of images (for HIPAA compliance) can impact some of the metrics in the QAP results falsely.

Introduce a feature to have true zeroes (which are very rare in MRI images/timeseries) removed before they are sent to the QAP metrics workflow.

[2016-10-03 19:42] sgiavasis commented on #62
This has been implemented in 1.0.7.

[2016-10-04 13:43] jpellman opened #64 "Bug- all integer session ID causes PDF reports to crash"
From the [PCP forum](https://groups.google.com/forum/#!topic/pcp_forum/ncxhjc_A6oE), Jordi Huguet reports the following bug:

Minor issue found at 'qap/viz/reports.py'. If session IDs are fully composed by digits, they are treated as numpy integers and QAP crashes at composing the path tree for storing the PDF reports.

Error message prompted:

[code]

Code fragment which crashes:

[code]

I tempo

[2016-10-13 19:00] jpellman opened #65 "Support for relative paths in qap_raw_data_sublist_generator.py"
Not high priority, but it might be nice to allow people to enter relative paths to the site folder when running this.

[2016-10-14 15:45] jhuguetn opened #66 "Files overwritten when running temporal and spatial analysis in the same output directory"
I tend to reuse working & output directories (since I also reuse configuration file) when running temporal and spatial analysis on fMRI.
I have discovered that some output files (mainly nipype graph, mosaic composition and some other files) are identically named in both analysis, thus when running one analysis just after the other in the same destination I got some files overwritten.

Although is

[2016-10-20 22:08] sgiavasis opened #67 "Developer documentation: Finish creating/updating docstrings in QAP"
Need docstrings throughout the project to easily generate developer documentation using Sphinx.
- [x] anatomical_preproc.py
- [x] bids_utils.py
- [x] cli.py
- [x] cloud_utils.py
- [x] dvars.py
- [x] functional_preproc.py
- [x] qap_utils.py
- [x] qap_workflows.py
- [x] qap_workflows_utils.py
- [x] script_utils.py
- [x] spatial_qc.py
- [x] temporal_qc.py
- [x] workflow_utils.py

[2016-10-20 22:15] sgiavasis commented on #66
Hi Jordi,

These issues are being addressed in an upcoming release, v1.0.8. However, I will take one more close look to ensure there are no other auxiliary info files like these that are being clobbered. Thank you for the input!

Steve

[2016-10-20 22:18] sgiavasis commented on #64
This will do it- I had to do something similar for Participant IDs- probably should do it for scan IDs as well. Did you make that fix in a branch? If not, I can do it in 1.0.8.

[2016-10-21 22:29] sgiavasis commented on #2
As this error has not been seen, and we believe the aforementioned fix most likely would have addressed it, I am closing this issue for now. If it recurs we can always re-open.

Steve

[2016-10-21 22:29] #2 closed, assigned to nobody

[2016-10-21 22:30] sgiavasis commented on #55
Closing this issue! Re-open if we see recurrence.

[2016-10-21 22:30] #55 closed, assigned to nobody

[2016-10-21 22:30] sgiavasis commented on #52
@ccraddock thoughts?

[2016-10-21 22:35] sgiavasis opened #68 "Write QAP outputs to JSON files"
- [x] Have each of the three QAP workflows write the metrics to JSON files.
- [x] Have the header information written to the JSON files independently of the QAP measures.
- [x] Have functionality to populate QAP CSV files by extracting the information from the JSON files.

[2016-10-21 22:44] #42 closed, assigned to nobody

[2016-10-21 22:44] #10 closed, assigned to nobody

[2016-10-21 22:44] #47 closed, assigned to nobody

[2016-10-21 22:44] #57 closed, assigned to nobody

[2016-10-21 22:44] #50 closed, assigned to nobody

[2016-10-21 22:44] #51 closed, assigned to nobody

[2016-10-25 18:22] ccraddock commented on #52
Sounds good to me

Sent from my iPhone

[2016-10-26 01:43] #54 closed, assigned to nobody

[2016-10-26 01:46] sgiavasis opened #69 "Update QAP User Guide for 1.0.8"
- [ ] The ability to exclude zeros from anatomical input files with the "exclude_zeros" flag.
- [x] Make sure QAP metric descriptions are up-to-date.
- [x] New Pipeline ID/name config field.
- [x] New wording and changes for some of the config fields (num participants at once, template_skull_for_anat -> template_head_for_anat, etc.).
- [ ] New JSON output files.
- [ ] Update new AMI information on

[2016-10-26 01:47] #62 closed, assigned to sgiavasis

[2016-10-26 01:51] #33 closed, assigned to nobody

[2016-10-26 18:59] sgiavasis commented on #60
@ccraddock Which paper should be cited for RMSD/MeanFD?

[2016-10-28 22:12] #67 closed, assigned to sgiavasis

[2016-11-02 19:37] #61 closed, assigned to nobody

[2016-11-02 19:37] #53 closed, assigned to nobody

[2016-11-02 19:55] jpellman commented on #60
GSR and FWHM were updated [here](https://github.com/preprocessed-connectomes-project/quality-assessment-protocol/commit/d06aa4444ab117c27722f339ed2d7f3c6f9c802f).  Should be able to update RMSD with new citations.

[2016-11-02 21:11] #64 closed, assigned to sgiavasis

[2016-11-02 21:12] sgiavasis commented on #65
This will be in 1.0.8!

[2016-11-02 21:12] #65 closed, assigned to sgiavasis

[2016-11-02 21:14] sgiavasis commented on #68
@jpellman , could you give a fresh install of QAP 1.0.8 a quick run somewhere and confirm that the JSON output files work smoothly for you? CSV files should also be produced.

[2016-11-02 21:26] sgiavasis commented on #66
Good news- the PDF reports no longer get clobbered in 1.0.8.

However, the Nipype graphs still get overwritten with the start of each new group of participants that get run through the pipeline. If I have all of these write out as different filenames to preserve all of them, we can potentially see a very large pool of .dots/.pngs being written especially with large runs where there could be 50+ bu

[2016-11-03 19:39] sgiavasis commented on #52
@ccraddock Is this a must-have in 1.0.8, actually? If I push this to 1.0.9, we can release 1.0.8 this week.

[2016-11-03 19:59] ccraddock commented on #52
its fine to push

On Thu, Nov 3, 2016 at 1:39 PM sgiavasis notifications@github.com wrote:

[2016-11-03 22:12] sgiavasis opened #70 "Create a new AWS AMI with QAP 1.0.8 upon release"
Best to wait until the regression test is done- then we can create the AMI, and test the AMI itself as the final thing to test out.

[2016-11-03 22:15] sgiavasis commented on #46
From @jpellman :
"For the next QAP PyPi deployment we could add the Python requirements as dependencies as well so that people don't have to download them separately."

We should re-establish what the required packages are and make sure the requirements.txt and the setup.py REQUIRES/INSTALL_REQUIRES flags are accurate.

[2016-11-03 22:17] sgiavasis opened #71 "Generate updated developer docs"
- [x] Setup the sphinx-quickstart HTML template and build the files.
- [ ] Include workflow descriptions and dependency graphs in the dev docs, not just the individual function runner information. Similar to CPAC dev docs.
- [ ] Make it clear which branch is currently being developed on.

[2016-11-03 22:19] sgiavasis opened #72 "Run a QAP regression test"
- Use the "qap_test_correlations.py" script for this.

[2016-11-03 22:23] sgiavasis commented on #59
@jpellman We should do some final runs/checks on this to make extra sure it's not still happening.

[2016-11-03 22:25] sgiavasis commented on #58
@jpellman We should do some final runs/checks on this to make extra sure it's not still happening.

[2016-11-03 22:26] sgiavasis commented on #56
@jpellman We should do some final runs/checks on this to make extra sure it's not still happening.

[2016-11-04 09:44] jhuguetn commented on #66
Great Steven, many thanks!

BTW,when you guys plan to formally release 1.0.8?

[2016-11-09 22:13] sgiavasis opened #73 "Rename "template_skull_for_anat" config parameter?"
"template_skull_for_anat" may be misleading and may seem like it means the MNI (or other standard) template for the skull only (i.e. MNI152_T1_2mm_skull.nii.gz), instead of the whole-head template (i.e. MNI152_T1_2mm.nii.gz).

May be better to re-name to "template_head_for_anat" or "template_whole_head_for_anat"- thoughts? @ccraddock @jpellman

[2016-11-14 20:19] sgiavasis commented on #73
Changing this to "template_head_for_anat" unless there are any objections.

[2016-11-15 22:05] sgiavasis opened #74 "Update QAP metrics descriptions in the PDF reports"

[2016-11-15 22:16] #74 closed, assigned to sgiavasis

[2016-11-15 22:18] sgiavasis opened #75 "Update QAP's PyPi entry upon merge to Master"

[2016-11-16 16:03] jpellman opened #76 "[DOC] : Clarify that you need Python 2 (not 3) to run"
Installation instructions should specify Python 2.

[2016-11-16 16:04] jpellman opened #77 "[DOC] : Add link to slideshare presentation"
http://www.slideshare.net/CameronCraddock/pcp-quality-assessment-protocol

[2016-11-16 22:44] #76 closed, assigned to jpellman

[2016-11-17 17:39] sgiavasis commented on #46
QAP will now automatically check for INDI-Tools and pip install it if it isn't there- whether you are installing from a cloned Github repo or via pip install.

[2016-11-17 17:40] sgiavasis commented on #66
Hi @jhuguetn ,

We estimate next week - we will announce it in the support forum when it happens.

[2016-11-18 21:45] #73 closed, assigned to sgiavasis

[2016-11-18 21:45] #46 closed, assigned to sgiavasis

[2016-11-18 21:45] #68 closed, assigned to sgiavasis, jpellman

[2016-11-18 21:45] #66 closed, assigned to sgiavasis

[2016-11-18 21:46] #59 closed, assigned to sgiavasis, jpellman

[2016-11-18 21:46] #58 closed, assigned to sgiavasis, jpellman

[2016-11-18 21:46] #56 closed, assigned to sgiavasis, jpellman

[2016-11-18 21:48] sgiavasis commented on #69
Best practice would be to refer to the 1.0.8 milestone and view the Closed Issues to see what has changed.

[2016-11-29 16:00] jpellman opened #78 "select_thresh not robust to AFNI output that begins with ANSI escape keys"
See here:

https://groups.google.com/forum/#!topic/pcp_forum/G9QH5RZvm1M

[2016-11-29 21:15] sgiavasis commented on #78
This was resolved a little while back when we switched to the Nipype 3dmaskave interface. Responded to the poster and will close this issue.

[2016-11-29 21:15] #78 closed, assigned to sgiavasis

[2016-11-29 22:33] sgiavasis opened #79 "Establish a manual testing protocol"

[2016-12-21 23:22] sgiavasis opened #80 "Separate the JSON merge into CSV output files into a separate script"
One of QAP 1.0.8's newer features is the writing of output data to JSON files for each participant (an anatomical and functional JSON each). The collection of this data into one CSV per QAP metric collection type should be separated into a script that the user runs after the analysis is run.

[2016-12-22 16:40] #80 closed, assigned to sgiavasis

[2017-01-05 20:06] sgiavasis opened #82 "Refactor sublist intake to same external interface regardless of data source"
Right now, QAP takes in two possible inputs for the sublist/datalist. Either a local subject list YAML, or an "S3 dict YAML" for data saved on an Amazon AWS S3 bucket. Instead, there should be one sublist entry, and S3 data should be listed with the "s3://" prefix.

[2017-01-05 20:08] sgiavasis opened #83 "QAP either hangs or completes with missing subs"
There seems to be something going wrong with the bundler or workflow runner, where groups of participants' output data are not being written to the output JSONs. The JSON working directories sometimes contain the "unfinished" jsons.

[2017-01-13 18:59] alexlicohen opened #84 "BIDS-Apps/QAP runs out of space when given ~20+ subjects"
Giving QAP a list of subjects, say 20 or so, crashes when the docker runs out of space, presumably due to writing internally to /tmp.
I can get around this by specifying:
`-v /tmp:/tmp`
in my docker run call, but is this actually the problem or is it something else?
(Double-posting to BIDS-Apps/QAP and preprocessed-connectomes-project/quality-assessment-protocol)

[2017-01-16 22:04] alexlicohen opened #85 "report generation is failing due to lack of csv files"
The json_to_csv module does not seem to be working?

170116-22:03:59,635 workflow INFO:
	 Writing PDF reports
Traceback (most recent call last):
  File "/code/run.py", line 132, in <module>
    obj.run(config_file, subject_list_file)
  File "/usr/local/bin/miniconda/lib/python2.7/site-packages/qap-1.0.8-py2.7.egg/qap/cli.py", line 909, in run
    out_dir=config['output_directory'])
  File "/usr/lo

[2017-01-23 12:47] parekhpravesh opened #86 "QAP incompatible with nipype 0.13"
Hello,

I recently installed qap and did a few test runs with everything running smoothly. Subsequently, I installed mriqc. Since then, I have been unable to get qap to run. The following are the output error messages:

`qap_anatomical_spatial.py --sublist /home/JPJ/Parekh/Test_QAP_MRIQC/data_QAP/sub_list.yaml /home/JPJ/Parekh/Test_QAP_MRIQC/data_QAP/qap_config_abide_spatial_tmp.yml
`

Please advi

[2017-01-23 14:42] jpellman commented on #86
Hi @parekhpravesh ,

It looks like installing mriqc may have upgraded your version of nipype to a version that is not compatible with QAP.  If you open a Python prompt and type the following commands, does Python print '0.13.0-rc1'?

[code]

If Python does print that version number, you should be able to get QAP working by typing the following command to downgrade nipype to a QAP-compatible versio

[2017-01-23 14:56] parekhpravesh commented on #86
Hello,

Thanks for the reply. As predicted, nipype is actually version 0.13.0-rc1 (I believe this is the version required by mriqc). That makes mriqc and qap (almost) mutually exclusive!

[2017-01-23 16:00] jpellman commented on #85
Hi @alexlicohen,

Please see https://groups.google.com/d/msg/pcp_forum/hpr1AaVPn-s/g-qIPD-SGQAJ ; this looks like it might be the issue you're encountering.

[2017-01-23 17:12] alexlicohen commented on #85
I tried locking nipype to 0.12.1 and using only 1 core. The script still runs fine without writing reports, but fails when trying to write reports because the .csv files are absent. (The json files DO contain data, though).

FYI, this is using the BIDS-App/QAP docker if you want to replicate:
I'm using: https://github.com/alexlicohen/QAP
see here for differences: https://github.com/BIDS-Apps/QAP/c

[2017-01-24 16:38] TDeramusMRI opened #87 "Error with QAP Build"
Hi.

I recently installed QAP on my local machine and on our cluster to process ABIDE-II data.

However, when I attempt to run the pipelines, I get similar errors on both environments (see attached photos below).

I'm not sure what is is that is going wrong here and I was hoping to get a little input.

There's a module load error with the cluster I think, but I can confirm that the local machine (

[2017-01-24 17:00] alexlicohen commented on #87
you need the ConfigParser module:

pip install ConfigParser

----------------------------------------------------------------
Alexander Li Cohen, M.D., Ph.D.
E-mail: Alexander.Cohen2@childrens.harvard.edu (Medical/Science Email)
E-mail: alexcohen@gmail.com (Lifetime Email)
----------------------------------------------------------------

On Tue, Jan 24, 2017 at 11:38 AM, TDeramus <notifications@gi

[2017-01-24 17:32] jpellman commented on #87
Alternatively (for the configparser issue) you can use an earlier version of Python's future library by running pip install future==0.15.2 (see [here](https://github.com/nipy/nipype/issues/1699)).

For the other issue, are there any crash files ending in '.pklz' being produced in the output directory?  If so, could you please send them to john.pellman@childmind.org so that I can take a look at the

[2017-01-24 17:40] alexlicohen commented on #87
Is that specific future library supposed to be part of QAP's dependencies?
(checking the BIDS-App Docker, 0.16.0 is being installed as a dependency
for another package)

-Alex

----------------------------------------------------------------
Alexander Li Cohen, M.D., Ph.D.
E-mail: Alexander.Cohen2@childrens.harvard.edu (Medical/Science Email)
E-mail: alexcohen@gmail.com (Lifetime Email)
----------

[2017-01-24 17:42] jpellman commented on #87
It's a dependency of nipype.  QAP itself does not use future.

[2017-01-24 22:26] alexlicohen commented on #85
This is still not working for the BIDS-App, any ideas? I tried dropping the pandas module back to `pandas==0.18.1`, still no luck generating csv files and thus reports...

[2017-01-24 22:55] jpellman commented on #85
Just to put this out here- something that strikes as odd is that you the pipeline configuration YAML in your repo specifies '/output' as the output directory, but the PDF report generation function is looking for a file in '/output/output'.  It looks like the the output directory might be getting joined together twice somewhere.

[2017-01-24 23:10] alexlicohen commented on #85
Yes that's as I found the repo, I've been meaning to fix it but now you're making me wonder if perhaps it's the problem. I'll go through and align that and see what happens

-Alex

[2017-01-25 00:13] jpellman commented on #85
This looks like it might be the offending line:

https://github.com/alexlicohen/QAP/blob/master/run.py#L82

Try changing this to something like:

[code]

[2017-01-25 19:29] alexlicohen commented on #85
The BIDS-app was creating an additional subdir layer in the /output dir... that is now fixed in my version, but the csv files are still not being generated. I'm assuming this is working for you all locally with v1.0.8? Here is the output of `pip list` from without the docker container. Are there any differences that might be related?

Package         Version
--------------- -----------
boto3

[2017-01-27 14:36] sgiavasis opened #88 "Pipeline runner iterates over all completed bundles during warm restart"
When restarting a run somewhere in the middle, the bundler will create the same bundle distribution as when the pipeline was first run, and will iterate over all of the completed bundles, confirming that they are complete, before getting to the one that needs to be resumed.

This should be changed so that the already completed participants are removed from consideration when putting together the b

[2017-01-30 19:49] TDeramusMRI commented on #87
Thank you for your input.

Upon working on it some more, it looks like we're having library issues on the cluster (I still get error messages when working on the cluster after getting the dependency), I'm working with our resident software engineer to figure out what may be missing library wise and a few ways to fix it before I post again.

However, I have been having some issues with qap_function

[2017-01-31 15:50] jpellman commented on #87
Hi @hermeckerogg ,

What happens if you open a Python terminal and type the following code?

[code]

[2017-01-31 15:55] TDeramusMRI commented on #87
I get the following error when I run import numpy:
The program 'import' can be found in the following packages:
 * imagemagick
 * graphicsmagick-imagemagick-compat
Try: sudo apt-get install <selected package>

I will try installing both of those and testing it again. See what happens.

Strange though because I could have sworn I had those.

[2017-01-31 15:58] jpellman commented on #87
Hi @hermeckerogg ,

Those packages shouldn't be necessary for testing Numpy.  You need to open a Python terminal by typing `python` or `ipython` in your Unix terminal first before running `import numpy`. Sorry for the confusion.

[2017-01-31 16:40] TDeramusMRI commented on #87
Doing that throws the following error:

Running unit tests for numpy
NumPy version 1.11.1
NumPy relaxed strides checking option: False
NumPy is installed in /home/Thomas/anaconda2/lib/python2.7/site-packages/numpy
Python version 2.7.12 |Anaconda 4.1.1 (64-bit)| (default, Jul  2 2016, 17:42:40) [GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
nose version 1.3.7
...............................................

[2017-02-01 03:23] TDeramusMRI commented on #87
Right. So, took a day to rebuild my python libraries and Conda setup and check dependencies. Those seem to be a little less bad now than they were.

However, I am not getting the following error on every command I try to run:
Thomas@DESKTOP-PNO0KIE:/mnt/f/ABIDEII/ABIDEII-SDSU_1$ qap_functional_temporal.py --sublist local_funct_list.yml qap_config_test_temporal_ms.yml
170131-21:18:29,853 workflow I

[2017-02-01 14:18] jpellman commented on #87
The newest version of nipype is incompatible with QAP (see [here](https://github.com/preprocessed-connectomes-project/quality-assessment-protocol/issues/86)).  That's the most likely cause of this error.

To downgrade use the following command:
`pip install nipype==0.12.1`

[2017-02-01 14:25] ccraddock commented on #86
Yes. We haven't updated to nipype 13 yet since it is still a release candidate and not an official release. You should be able to handle two versions of nipype with virtual environments.

[2017-02-01 14:39] parekhpravesh commented on #86
Thank you Dr. @ccraddock...virtual environment it is then!

[2017-02-01 16:47] TDeramusMRI commented on #87
Alright. Think I found what the issue might have been.

So the version of Nipype I had installed was 0.12.1, but I did it through Conda, which I've noticed does a good bit of dependency upgrade/downgrade shuffling here and there to make sure everything works.

After removing it through Conda, removing any leftover bits through ruthless rm -rf thuggery and reinstalling via pip (as you describe abov

[2017-02-01 21:26] sgiavasis opened #89 "Refactor workflow results dictionary updating"
Currently, the workflow results dictionary that is returned by the workflow runner only reports "finished" or "failed" based on the completion of the entire bundle, but individual participant/scan completion information is absent.

Need to increase resolution of the information reported back.

[2017-02-01 21:27] sgiavasis commented on #85
There are some big changes in progress for this script- also moving the reports generation here since the needed CSVs will not exist yet until after this script is run.

[2017-02-01 21:28] sgiavasis commented on #82
This is implemented in 1.0.8.

[2017-02-01 21:28] #82 closed, assigned to sgiavasis

[2017-02-01 21:31] sgiavasis commented on #83
@ccraddock 's Nipype fix (https://github.com/nipy/nipype/pull/1756) may have potentially resolved this - keeping an eye for a recurrence while testing large-scale runs.

[2017-02-02 15:53] TDeramusMRI commented on #87
The code runs just fine, but unfortunately the summary report is producing an error.

This is with write_all_outputs: False and write_report: True

170202-02:45:10,911 workflow INFO:
         Writing PDF reports
/home/Thomas/anaconda2/lib/python2.7/site-packages/qap/viz/reports.py:35: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  columns=['subject', 'session', 'scan'

[2017-02-02 18:00] jpellman commented on #87
Hi @hermeckerogg ,

This is an issue currently present in the pip-installed version of QAP.  Please see [here](https://groups.google.com/forum/#!msg/pcp_forum/0WmdJz217xo/qc0TeOHQBgAJ) for a discussion about how to fix it.  If the solution discussed there doesn't work, let us know so that we can troubleshoot further.

Best,
John

[2017-02-03 15:59] TDeramusMRI commented on #87
So I've actually tried that one a couple of times.

Upon doing so after the dependencies were fixed, it returned the following:

170203-03:31:25,482 workflow INFO:
         Saving crash info to /mnt/f/ABIDEII/ABIDEII-SDSU_1/QAP_Functional_Temporal_output_funct/crash-20170203-033125-Thomas-qap_functional_spatial-86bd316c-62fc-48bd-b409-9ecee902122b.pklz
170203-03:31:25,483 workflow INFO:
         T

[2017-02-03 17:44] jpellman commented on #87
Hi @hermeckerogg ,

The crash files you sent me implicate a step that occurs before report generation.  In particular, the functionality for determining the GSR is failing.  Could you run the following command and send me the output to take look at?

`3dinfo /mnt/f/ABIDEII/ABIDEII-SDSU_1/QAP_Functional_Temporal_working_funct/28878/session_1/rest_1/func_get_brain_mask/rest_calc_resample_volreg_mask

[2017-02-03 19:50] TDeramusMRI commented on #87
Appreciate the quick response.

Unfortunately that last run did not produce any output files in the results folder.

The last working run I had gave me this:
++ 3dinfo: AFNI version=Debian-16.2.07~dfsg.1-3~nd14.04+1 (Aug 31 2016) [64-bit]

Dataset File:    rest_calc_resample_volreg_mask.nii.gz
Identifier Code: XYZ_z_J9YCJHFkNHbD--32kg2w  Creation Date: Sun Jan 29 17:46:56 2017
Template Space:  ORI

[2017-02-03 22:53] jpellman commented on #87
Hi @hermeckerogg ,

Sorry- I neglected to consider that _write_all_outputs_ was set to False.

I have another question- which version of NumPy are you using?  Starting with version 1.12 of NumPy, the ability to slice arrays using non-integers has been dropped (I'm going to leave a link to the changes [here](https://docs.scipy.org/doc/numpy/release.html#compatibility-notes) for future reference), w

[2017-02-06 19:46] TDeramusMRI commented on #87
Ok so with the new flags the code rand to completion and the output for 3dinfo is:

Thomas@DESKTOP-PNO0KIE:/mnt/f/ABIDEII/ABIDEII-SDSU_1$ 3dinfo /mnt/f/ABIDEII/ABIDEII-SDSU_1/QAP_Functional_Temporal_working_funct/28878/session_1/rest_1/func_get_brain_mask/rest_calc_resample_volreg_mask.nii.gz
++ 3dinfo: AFNI version=Debian-16.2.07~dfsg.1-3~nd14.04+1 (Aug 31 2016) [64-bit]

Dataset File:    /mnt/f/

[2017-02-09 20:20] TDeramusMRI commented on #87
Also according to the output I'm using:
In [3]: numpy.version.version
Out[3]: '1.12.0'

So that may answer that. I can try a rollback and see what that does.

[2017-02-17 21:31] #86 closed, assigned to sgiavasis, jpellman

[2017-02-17 21:32] sgiavasis opened #90 "Script for comparing output CSVs with input data config YMLs needed"
This would make it much easier to quickly ascertain which participant-session-scans did not complete, and have it automatically create a new data config YML with only these missing scans.

[2017-02-17 21:33] #90 closed, assigned to sgiavasis

[2017-02-17 21:33] #71 closed, assigned to sgiavasis

[2017-02-24 22:18] sgiavasis commented on #83
Hasn't happened again- closing.

[2017-02-24 22:18] #83 closed, assigned to sgiavasis

[2017-02-24 22:20] sgiavasis commented on #85
Hi @alexlicohen ,

In QAP 1.0.8, report generation will be completed using the group-level script (qap_jsons_to_csv.py) that is run after the initial QAP pipeline completes.

To use this script to generate reports:
usage: qap_jsons_to_csv.py [-h] [--with_group_reports] [--with_full_reports]
                           output_dir

positional arguments:
  output_dir            the main output directo

[2017-02-24 22:20] #85 closed, assigned to sgiavasis

[2017-02-24 22:20] #72 closed, assigned to sgiavasis

[2017-02-24 22:41] #69 closed, assigned to sgiavasis

[2017-02-24 22:46] sgiavasis opened #92 "Include QA related information in output JSON files"
Related to:
https://github.com/BIDS-Apps/Q

QA JSON files should include full timeseries of:
- [x] Signal Fluctuation Sensitivity (SFS)
- [x] 3dToutcount
- [x] DVARS
- [x] RMSD
- [x] 3dTqual

[2017-02-24 22:46] sgiavasis opened #93 "Generate participant-specific HTML pages during pipeline run"

[2017-02-24 22:47] sgiavasis opened #94 "Generate dynamically-populated group-level reports page"

[2017-02-24 22:47] sgiavasis opened #95 "Visualization & Reports Expansion"

[2017-02-24 23:03] alexlicohen commented on #85
awesome. Thanks!

-Alex

----------------------------------------------------------------
Alexander Li Cohen, M.D., Ph.D.
E-mail: Alexander.Cohen2@childrens.harvard.edu (Medical/Science Email)
E-mail: alexcohen@gmail.com (Lifetime Email)
----------------------------------------------------------------

On Fri, Feb 24, 2017 at 5:20 PM, sgiavasis <notifications@github.com> wrote:

[2017-02-27 17:31] sgiavasis opened #96 "Update QAP User Guide for 1.0.9"

[2017-02-27 17:32] sgiavasis opened #97 "Update QAP's PyPi entry with 1.0.9 release"

[2017-02-27 21:15] #75 closed, assigned to sgiavasis

[2017-02-27 21:40] sgiavasis opened #98 "Implement Standardized DVARS fix/modification"
Ref:
http://www2.warwick.ac.uk/fac/sci/statistics/staff/academic-research/nichols/scripts/fsl/StandardizedDVARS.pdf

Up-to-date/post-fix DVARS.sh:
https://github.com/nicholst/StandardizedDVARS/blob/master/DVARS.sh

[2017-02-27 23:39] sgiavasis opened #99 "Introduce Temporal Standard Deviation (tSTD) as new QAP measure"
Reference:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2214855/

- [ ] Reproduce and validate the tSTD calculation.
- [ ] Build unit tests.
- [ ] Integrate into functional temporal workflow.
- [ ] Test entire workflow.

[2017-02-28 20:07] sgiavasis commented on #93
@carolFrohlich On the 1.0.9_development branch, QAP now produces the QA.json file for each participant, containing the timecourses of each applicable functional temporal output. ( #92 ) Still subject to change.

You can pull from those for the graphs.

[2017-02-28 20:11] sgiavasis commented on #87
@hermeckerogg Quick heads up- QAP 1.0.8 was released (available via `pip install qap` or here: https://github.com/preprocessed-connectomes-project/quality-assessment-protocol/releases/tag/v1.0.8).

If you can, give it another shot and let us know if you are still running into trouble.

[2017-02-28 20:20] alexlicohen commented on #87
does 1.0.8 allow for multiprocessor runs yet?

(I'm almost done re-working the BIDS-app to use the new sublist generator
and qap_measures_pipeline.py, testing now...)

-Alex

----------------------------------------------------------------
Alexander Li Cohen, M.D., Ph.D.
E-mail: Alexander.Cohen2@childrens.harvard.edu (Medical/Science Email)
E-mail: alexcohen@gmail.com (Lifetime Email)
------------

[2017-02-28 20:28] sgiavasis commented on #87
Yes, definitely. Multi-processor, cluster runs (SGE, PBS, SLURM), AWS compatibility, ..etc.

You can configure your resource settings in the pipeline configuration YAML:
https://github.com/preprocessed-connectomes-project/quality-assessment-protocol/blob/master/configs/qap_config_TEMPLATE.yml

[2017-02-28 22:12] sgiavasis opened #100 "Implement Signal Fluctuation Sensitivity (SFS) calculation"
This will be written to the QA.json files for graphing and visualization.
From: http://journal.frontiersin.org/article/10.3389/fnins.2016.00180/full

- [x] Introduce nuisance calculation into QAP (for SFS).
- [x] Implement the calculation.

[2017-02-28 22:14] sgiavasis opened #101 "Convert QAP output directory format to BIDS standard"
Also introduce sub-levels for QA file outputs.

[2017-03-03 18:15] alexlicohen opened #102 "qap_sublist_generator.py cannot select subject in BIDS dir"
The `--include` switch in `qap_sublist_generator.py` cannot be combined with the --BIDS switch. This prevents the creation of a BIDS App version without bypassing this script and creating the sublist in the BIDS App instead.

[2017-03-09 01:19] hebbianloop opened #103 "Error with QAP Build #2"
Attempting to install from source with python 3.4 installed via  mac ports.  Using nipype version 0.12.1.

Ran the following ::

`git clone https://github.com/preprocessed-connectomes-project/quality-assessment-protocol.git
`
`python3 setup.py install
`

Get the error ::

`Traceback (most recent call last):
  File "setup.py", line 78, in <module>
    main()
  File "setup.py", line 9, in main
    v

[2017-03-10 17:39] carolFrohlich commented on #95
- [ ] create html template
- [ ]  cp template to subject output when subject finished running
- [ ] substitute names and patjs on html template
- [ ] create plot Mean fd + DVARS + global signal
- [ ]  create gay plot
- [ ]  create mean epi mosaic
- [ ]  create signal fluctuation sensitivity mosaic

[2017-03-14 19:02] #101 closed, assigned to sgiavasis

[2017-03-20 18:02] #99 closed, assigned to sgiavasis

[2017-03-20 18:02] #92 closed, assigned to sgiavasis

[2017-03-20 21:33] sgiavasis commented on #102
Thanks for bringing this up!

[2017-03-24 15:59] sgiavasis commented on #70
Waiting for some of the important changes in 1.0.9 for this one.

[2017-03-24 15:59] #70 closed, assigned to sgiavasis

[2017-03-24 16:00] #100 closed, assigned to sgiavasis

[2017-04-11 21:42] sgiavasis opened #108 "Merge the functional-spatial and functional-temporal workflows into one"
Keep the measures separate- this is only backend/workflow building related.

[2017-04-11 21:44] sgiavasis opened #109 "Add Skewness, Kurtosis measures for tissue maps"

[2017-04-21 13:40] #108 closed, assigned to sgiavasis

[2017-04-25 20:48] sgiavasis opened #112 "Write out NIFTI map of Anatomical Background Artifacts"

[2017-04-25 20:48] #109 closed, assigned to sgiavasis

[2017-04-25 20:58] adrose commented on #109
Hi @sgiavasis for [this](http://biorxiv.org/content/early/2017/04/08/125161) paper we @PennBBL found background skewness and kurtosis to be highly discriminatory, I haven't checked out the updated code, but just want to spread this information.

Thanks!

Adon

[2017-05-02 15:10] #98 closed, assigned to sgiavasis

[2017-05-02 15:11] sgiavasis opened #113 "Write out NIFTI of estimated CSF nuisance voxels"
This is derived from the temporal standard deviation measure.

[2017-05-02 21:11] #112 closed, assigned to sgiavasis

[2017-05-04 22:09] #113 closed, assigned to sgiavasis

[2017-07-06 17:07] hpardoe opened #115 "Error with QAP build, looks like something to do with afni/base.py"
Hi, I'm trying to run an ABIDEII subject through QAP to test if the install worked correctly but I get the following error, full output is pasted below. It looks like the nipype/nipype/interfaces/afni/base.py repo was updated a couple of weeks ago, perhaps it's something to do with that?
---
File "/usr/local/lib/python2.7/dist-packages/nipype/interfaces/afni/base.py", line 54, in version
    currv

[2017-11-09 23:04] sgiavasis opened #116 "Anatomical spatial: 3dFWHMx ValueError"
A QAP user was getting this error when running anatomical spatial:

He proposed this fix in spatial_qc.py, as 3dFWHMx now produces 8 values instead of 4:

[code]

[2017-12-06 20:17] sgiavasis opened #117 "JSONS-to-CSV script error messages unclear"
If you incorrectly provide the JSON output directory to the qap_jsons_to_csv.py script, the error message does not clearly explain what is happening.

[2017-12-12 22:11] shihoubu opened #118 "error QAP install"
Hi.
I recently installed QAP on my local machine using "pip install qap" However, I got errors as bellow.
I have already set up Nipype, python version is 3.6. How can I solve it?

NameError: name '__version__' is not defined

    ----------------------------------------
Command "python setup.py egg_info" failed with error code 1 in /private/var/folders/58/wmqvksm15356rn_226k0wrzr0000gn/T/pip-build

[2017-12-21 02:40] amrithah opened #119 "error QAP installation"
Hi,

I am obtaining an error while installing the QAP protocol, specifically I get the following when I run it on the terminal:

NameError: name 'version' is not defined

----------------------------------------
Command "python setup.py egg_info" failed with error code 1 in /private/var/folders/tm/gbvs44cs5rzb_hjjgvxmgnmc0000gn/T/pip-build-_hotzprs/qap/

Can someone please advise?

Thank you!

[2018-04-05 08:34] tragus1 opened #120 "Error using qap_measures_pipeline"
Traceback (most recent call last):
  File "/home/demenzbild/anaconda2/bin/qap_measures_pipeline.py", line 10, in <module>
    obj.run()
  File "/home/demenzbild/anaconda2/lib/python2.7/site-packages/qap/cli.py", line 552, in run
    from nipype.pipeline.plugins.callback_log import log_nodes_cb
ImportError: No module named callback_log

Can you pleas help me solving this issue?

Thanks

[2018-08-06 21:23] rpcary commented on #120
Same problem.
Suspected it was a problem with the nipype fork (nipype==1.0.4.dev0) that came with qap==1.0.8. If I go into python, the nipype 'plugins' module looks ...incomplete. Not sure if I'm missing something there, but I don't see any failures in the installation.
i.e. from python:
import nipype.pipeline.plugins

['__doc__', '__file__', '__name__', '__package__', '__path__']

Also, checking

[2018-09-05 14:19] stefanotambalo commented on #120
Same problem here.

Thanks for any new input on this.

[2018-09-05 14:38] anibalsolon commented on #120
Hi @tragus1 @rpcary @stefanotambalo

You should install `nipype==0.13.1` to get it working:
[code]

It will remedy the situation. We are working on improve this scenario.

[2018-09-05 14:49] stefanotambalo commented on #120
Thank you very much!

I'm going to give it a try.

S.

________________________________
From: Anibal S?lon <notifications@github.com>
Sent: Wednesday, September 5, 2018 4:38:16 PM
To: preprocessed-connectomes-project/quality-assessment-protocol
Cc: Stefano Tambalo; Mention
Subject: Re: [preprocessed-connectomes-project/quality-assessment-protocol] Error using qap_measures_pipeline (#120)

Hi @trag

[2018-09-06 11:04] stefanotambalo commented on #120
Hi, I'm still struggling with runtime errors.
I'm running QAP in a 2.7 virtual env, when I launch the script qap_measures_pipeline, it systematically crashes returning (not considering FutureWarning):

[...]
from nipype.pipeline.plugins.callback_log import log_nodes_cb
ImportError: No module named callback_log
[...]

from cli.py.

Any suggestion/solution?
Thanks in advance.

[2018-09-06 13:34] anibalsolon commented on #120
Hi Stefano,

could you please run this command in your virtual env?

[code]

Thanks

Anibal Solon
Assistant Research Scientist
Computational Neuroimaging Laboratory
p: 646.625.4378
e: anibal.solon@childmind.org <steven.giavasis@childmind.org>

Child Mind Institute
445 Park Avenue (entrance on 56th Street)
New York, NY 10022
childmind.org <https://aidbox.org/ct/?i=638132000000914&t=1>

Em qui, 6 de

[2018-09-24 08:07] stefanotambalo commented on #120
Hi Anibal, sorry for the huge delay.
Here's the output in 2.7 virtual env:

/home/*********/anaconda3/envs/py27/lib/python2.7/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_conver

[2018-09-25 15:54] anibalsolon commented on #120
Hi @stefanotambalo

the output suggests that you are using an older version of nipype (0.12.1). We recommend you to install the version 0.13.1:

[code]

Thank you

[2018-09-26 07:25] stefanotambalo commented on #120
That's what I did following your previous message. Then I downgraded to 0.12 for some reasons. Now I've put 0.13 back on, but still running into the same problem.

Here's the entire output:

`/home/stefano/anaconda3/envs/py27/lib/python2.7/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it wil

[2018-09-26 16:02] anibalsolon commented on #120
Hi @stefanotambalo

it still looks like a nipype version problem.

To reproduce the error outside qap, you can run:

[code]

Please send us the output so we can try to identify the problem origin.

[2018-09-27 07:04] stefanotambalo commented on #120
Hi @anibalsolon,

here's the output:

`/home/stefano/anaconda3/envs/py27/lib/python2.7/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
('Nypipe version', u'0.13.1')
/hom

[2018-09-27 19:06] atdortch opened #124 "ValueError: x and y must have same first dimension, but have shapes (1,) and (10,)"
I am trying to fix this answer. please help. I think it has something to do with my arrays.

import numpy as np
import random as rand
import matplotlib.pyplot as plt

particles = 10
steps = 20

position = np.zeros(particles)      # position of particles start at zero

right = 1; left = 2                 # assign values to left and right positions

for step in range(steps):
    for p in range(parti

[2018-10-25 19:06] ghost opened #125 "Error running qap_measures_pipeline"
I recently installed QAP. I've tried running it on 4 different machines (2 MacOS, 1 neurodebian VM, and 1 Ubuntu VM). It always gives an error when trying to run. I get stuck in the same place this other user did: https://github.com/preprocessed-connectomes-project/quality-assessment-protocol/issues/86

The error comes when running nipype 0.13.1

However, a downgrade to nipype 0.12.1 results in th

[2019-07-29 05:01] bbiekman opened #126 "Cannot run qap_measures_pipeline"
I'm having issues with running qap_measures_pipeline.py. I get the message below, similar to what was brought up in #120 and #125:

/usr/lib/python2.7/site-packages/qap-1.0.8b-py2.7.egg/qap/script_utils.py:29: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  config = yaml.load(f)
Trac

[2020-05-21 07:30] Romantic-Pumpkin commented on #125
i think you should install nipype in version 0.12.1 and networkx in version 1.11 to slove this problem， may it help you

[2022-02-28 07:37] cirongliu commented on #118
I met the issue here.

[2022-02-28 07:44] cirongliu commented on #103
same error here. how to solve it?